<meta http-equiv="refresh" content="10">
<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-12">
        <img width="30" height="30" src="assets/atmospheric.png" alt="Logo">
        <a class="nav-link active text-primary" href="#/home"><span>Inicio</span></a>
        <a class="nav-link active text-primary" href="#/his-lec"><span>Historial Lecturas</span></a>
        <a class="nav-link active text-primary" href="#/ltr"><span>Lect.Tiempo Real</span></a>
      <div class="navbar-nav" alignment="right">
        <a class="nav-link  text-danger"  href="#/login" (click)="logout()"><span>Logout</span></a>
      </div>
      </div>
    </div>
  </nav>
</div>

<div class="container mt-4" id="register2">
  <div class="text-light text-center">
    <div class="card-body">
        <div>
          <h1>Lectura Tiempo Real</h1>
        </div>
    </div>
  </div>
  <div class="text-center text-light mt-2" >
    <div>
    <div class="row text-center">
      <div class="offset-2" *ngFor="let dato of datos">
        <h4><span>Última Temperatura registrada</span></h4>
        <h5><span>{{dato.temperatura}}</span>°<img width="50" height="50" src="assets/temperature.png" alt="Logo"></h5>
      </div>
      <div class="offset-2 text-center" *ngFor="let dato of datos">
        <h4><span>Última Humedad registrada</span></h4>
        <h5><span>{{dato.humedad}}</span>% <img class="ml-4" width="40" height="40" src="assets/humedad.png" alt="Logo"></h5>
      </div>
      <div class="offset-2 mt-6 text-center" *ngFor="let promedio of promedios">
        <h4><span>Promedio Temperatura</span></h4>
        <h5><span>{{promedio.prom_temperatura}}</span></h5>
      </div>
      <div class="offset-3 mt-6  text-center" *ngFor="let promedio of promedios">
        <h4><span>Promedio Humedad</span></h4>
        <h5><span>{{promedio.prom_humedad}}</span>%</h5>
      </div>
    </div>
    </div>
  </div>
</div>
 

